<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/e2cd4330ca.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {% load static %}
  <link rel="icon" href="{% static 'the_wall_app/images/icon.png' %}">
  <link rel="stylesheet" href="{% static 'the_wall_app/css/style.css' %}">    
  <script src="{% static 'the_wall_app/js/script.js' %}"></script>
</head>
<body>

  <!--NAV BAR-->
  <nav class="navbar navbar-expand-lg navbar-light px-5 mb-2">
    <a class="navbar-brand" href="">Coding Dojo Wall</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link fas fa-home fa-3x text-danger" href="/welcome/"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fas fa-book fa-3x text-warning" href="/books/"></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item pt-1">
        <h3 class="font-weight-bold text-white">Welcome {{ request.session.fname }}!</h3>
      </li>
      <li class="nav-item">
        <a class="nav-link fas fa-sign-out-alt fa-3x text-secondary ml-3 pt-0" href="/logout/"></a>
      </li>
    </ul>  
  </nav>

  <div class="container">
    <div class="jumbotron bg-white mt-3">
      <form action="/post_message/" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="message">Post a message</label>
          <textarea class="form-control" id="message" name="message" rows="3"></textarea>
          <div class="message-footer">
            <input class="btn btn-primary btn-sm mt-2" type="submit" value="Post Message">
            <small class="text-success float-right"> 500 Characters remaining</small>
            <!--Add Character counting AJAX here to the left-->
          </div>
        </div>
      </form>
     
    </div> <!--END OF MESSAGE JUMBOTRON-->

    <!--ADD FOR TO PRINT MESSAGES-->
    {% for message in all_messages %}
    <div class="jumbotron bg-light">
      <div class="row">
        <p class="col-11 font-weight-bold">{{ message.user.first_name }} {{ message.user.last_name }} - {{ message.created_at }}</p>
        {% if message.user.id == request.session.uid %}
        <a class=" col-1 fas fa-trash-alt text-danger fa-2x pb-3" href="/delete_message/{{ message.id }}/"></a>
        {% endif %}
      </div>
      <p>{{ message.message }}</p>
      <!--ADD FOR TO PRINT COMMENTS-->
      {% for comment in all_comments %}
      {% if comment.message.id == message.id %}
      <div class="jumbotron bg-white w-75 mx-auto">
        <div class="row">
          <p class="col-11 font-weight-bold">{{ comment.user.first_name }} {{ comment.user.last_name }} - {{ comment.created_at }}</p>
          {% if comment.user.id == request.session.uid %}
          <a class="col-1 fas fa-trash-alt text-danger pb-3" href="/delete_comment/{{ comment.id }}/"></a>
          {% endif %}
        </div>
        <p>{{ comment.comment }}</p>
      </div> <!--END OF COMMENTS JUMBOTRON-->
      {% endif %}
      {% endfor %}

      <div class="jumbotron comment-container mt-3">
        <form action="/post_comment/" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label class="text-white" for="comment">Post a comment</label>
            <textarea class="form-control" id="comment" name="comment" rows="2"></textarea>
            <div class="comment-footer">
              <input type="hidden" name="message_id" value="{{ message.id }}">
              <input class="btn btn-success btn-sm mt-2" type="submit" value="Post Comment">
              <small class="text-white float-right"> 100 Characters remaining</small>
              <!--Add Character counting AJAX here to the left-->
            </div> <!--END OF COMMENT FOOTER-->
          </div> 
        </form>
      </div> <!--END OF COMMENT INPUT JUMBOTRON-->

    </div> <!--END OF MESSAGE JUMBOTRON-->
    {% endfor %}
  </div> <!--END OF CONTAINER-->

  


</body>
</html>